/* Css for pList */
.pList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Set Atribute for Item */
.pListItem {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* Set Atribute for IMG */
.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Set Atribute for Title*/
.pListTitles > h1 {
  font-size: 18px;
  color: #444;
}

/* Set Atribute for h2 */
.pListTitles > h2 {
  font-size: 14px;
  font-weight: 300;
}
